.form-container {
  position: relative;
  top: -5rem;
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin-left: 10rem;
}

form {
  width: fit-content;
  padding: 5rem;
  border: solid grey 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.warning {
  color: rgb(226, 246, 0);
  align-self: center;
  position: absolute;
  top: 155px;
}

.inputs {
  display: flex;
  gap: 1rem;
}

.labels, .fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
    color: #000;
}

.sub-btn {
  all: unset;
  align-self: center;
  padding: 0.5rem 2rem;
  background-color: rgb(49, 49, 49);
}

.sub-btn:hover {
  background-color: rgb(57, 57, 57);
}