.room {
  position: relative;
}

.room > img {
  height: 300px;
}

.room > .number {
  position: absolute;
  top: 15px;
  right: 15px;
  font-style: italic;
}

.room > .price {
  position: absolute;
  bottom: 15px;
  right: 15px;
}