.navbar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  font-size: 20px;
  padding: 2rem;
}

.navbar-thanks {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  font-size: 20px;
  padding: 2rem;
}

.navbar-thanks > * {
  color: black;
}